# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/

# Flask instance folder
instance/

# Flask config or secret files
.env
*.env
client_secret.json
credentials.json
# SQLite database files
*.db

# OS/mac system files
.DS_Store

# VSCode or IDE configs (optional)
.vscode/
.idea/
app/credentials.json
